.vscode

.DS_Store

*.bea
*.opus
*.lua
*.webm
*.bntx
*.ftxb
*.csv
*.lyt
*.nbmap
*.fmdb
*.fmab
*.fskb
*.fvbb
*.fsnb
*.fshb
*.bnbshpk
*.elf
*.bfsha
*.wmbt
*.wmbp
ConvertList.xml
*.bfsar
*.bnvib
*.apx

*.txt
*.png
*.wav

*.luac
*.deco.lua

*.o
bemt
